spring:
  datasource:
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true


logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: TRACE

debug: true

custom:
  feature:
    enabled: true
